
.container-inputs{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}

.container-principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.container-3d {
    height: 75vh;
    width: 90%;
}

.container-3d canvas {
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}