
.container-inputs{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}

.container-principal {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.container-3d {
    min-height: 65vh;
    width: 90%;
}

.container-3d canvas {
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.barra-inferior{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.control-pisos {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-reset {
    margin: 10px;
    text-align: center;
    border: none;
    background-color: rgb(98, 21, 24);;
    color: #FFF;
    box-shadow: 0 2px 20px rgb(98, 21, 24);;
    padding: 10px;
    border-radius: 30px;
}

@media (max-width: 840px) {
    
    .container-principal {
        height: auto;
    }
    
    .barra-inferior{
        display: flex;
        flex-direction: column;
    }
    .container-inputs{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-3d canvas {
        margin-top: 5px;
    }
    .control-pisos {
        margin: 10px;
    }
}