
.container-input {
    background-color: #FFF;
    height: 35px;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 5px 10px;
    transition: .5s ease;
    margin: 5px;
}

.icon-left {
    color: rgb(231, 164, 40);
}

.inpuit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: rgb(98, 21, 24);
    color: #FFF;
    transition: 0.4s ease;
}

.inpuit-button:hover {
    background-color: rgb(159, 34, 40);
    transform: scale(1.1);
    cursor: pointer;
}

.inpuit-button:active {
    background-color: rgb(98, 21, 24);
}

.custom-input {
    /* Estilos para el input */
    height: 20px;
    width: 210px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    transition: .5s ease;
}

.custom-input:focus {
    outline: none;
    border: none;
}



.custom-datalist option {
    /* Estilos para las opciones del datalist */
    font-size: 20px;
    color: #333;
}

@media (max-width: 840px) {
    .container-input {
        background-color: #FFF;
        height: 35px;
        max-width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        margin: 10px;
    }
}